In [10]:
import pandas as pd
import numpy as np
import pickle
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tqdm import tqdm

In [5]:
# Constants
TRAIN_DATA = "./data/processed_train.csv"
TEST_DATA = "./data/processed_test.csv"
TOKENIZER=  "./data/word_tokenizer.pickle"
MAX_WORDS = 80

In [6]:
with open(TOKENIZER, "rb") as f:
    tokenizer = pickle.load(f)

In [7]:
train_data = pd.read_csv(TRAIN_DATA)
train_data.head()

,text,target,processed_text
0,Our Deeds are the Reason of this #earthquake M...,1,deeds reason # earthquake allah forgive
1,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask . canada
2,All residents asked to 'shelter in place' are ...,1,residents asked ' shelter place ' notified off...
3,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive # wildfires evacuation o..."
4,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby # alaska smoke # wildfires...

In [8]:
test_data = pd.read_csv(TEST_DATA)
test_data.head()

,text,processed_text
0,Just happened a terrible car crash,happened terrible car crash
1,"Heard about #earthquake is different cities, s...","heard # earthquake different cities , stay safe ."
2,"there is a forest fire at spot pond, geese are...","forest fire spot pond , geese fleeing street ,..."
3,Apocalypse lighting. #Spokane #wildfires,apocalypse lighting . # spokane # wildfires
4,Typhoon Soudelor kills 28 in China and Taiwan,typhoon soudelor kills 28 china taiwan

In [9]:
train_tweets = train_data["processed_text"].values
test_tweets = test_data["processed_text"].values

In [11]:
train_tweets_vec = tokenizer.texts_to_sequences(train_tweets)
test_tweets_vec = tokenizer.texts_to_sequences(test_tweets)

In [12]:
train_tweets_vec = pad_sequences(train_tweets_vec, MAX_WORDS, padding='post')
test_tweets_vec = pad_sequences(test_tweets_vec, MAX_WORDS, padding='post')

In [14]:
train_dataset = np.hstack((train_tweets_vec, train_data["target"].values.reshape(-1,1)))
test_dataset = test_tweets_vec

In [15]:
np.save('data/processed_train', train_dataset)
np.save('data/processed_test', test_dataset)