In [6]:
# Dependencies
import pickle
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer
from tqdm import tqdm

In [9]:
# Constants
TRAIN_DATA = "./data/processed_train.csv"
TEST_DATA = "./data/processed_test.csv"
MAX_WORDS = 10000

In [10]:
tokenizer = Tokenizer(num_words=MAX_WORDS)

In [11]:
train_data = pd.read_csv(TRAIN_DATA)
test_data = pd.read_csv(TEST_DATA)

In [12]:
train_data.head()

,text,target,processed_text
0,Our Deeds are the Reason of this #earthquake M...,1,deeds reason # earthquake allah forgive
1,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask . canada
2,All residents asked to 'shelter in place' are ...,1,residents asked ' shelter place ' notified off...
3,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive # wildfires evacuation o..."
4,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby # alaska smoke # wildfires...

In [13]:
test_data.head()

,text,processed_text
0,Just happened a terrible car crash,happened terrible car crash
1,"Heard about #earthquake is different cities, s...","heard # earthquake different cities , stay safe ."
2,"there is a forest fire at spot pond, geese are...","forest fire spot pond , geese fleeing street ,..."
3,Apocalypse lighting. #Spokane #wildfires,apocalypse lighting . # spokane # wildfires
4,Typhoon Soudelor kills 28 in China and Taiwan,typhoon soudelor kills 28 china taiwan

In [14]:
train_tweets = train_data["processed_text"].values
test_tweets = test_data["processed_text"].values

In [15]:
for tweet in tqdm(train_tweets):
    tokenizer.fit_on_texts([tweet])

100%|██████████████████████████████████████████████████████████████████████████████| 7613/7613 [01:19<00:00, 96.12it/s]

In [16]:
with open('data/word_tokenizer.pickle', 'wb') as handle:
    pickle.dump(tokenizer, handle, protocol=pickle.HIGHEST_PROTOCOL)